
.hero {
  background-color: var(--bg-primary);
  padding: 6rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  max-width: var(--page-max-width);
  margin: var(--spacing-large) auto;
  background-color: var(--bg-secondary);
  display: flex;
  gap: var(--spacing-large);
  padding: var(--spacing-medium);
  border-radius: 2rem;
}

.main-right {
  display: flex;
  flex-direction: column;
}

.main-right img {
  width: 2rem;
}

.main-right ul {
  margin-bottom: var(--spacing-medium);
}

.main-right ul li {
  margin-bottom: var(--spacing-medium);
  display: flex;
  align-items: center;
  gap: var(--spacing-medium);
}

.main-right ul a,
.main-right ul p {
  font-size: var(--fs-large);
  font-weight: 600;
  color: var(--text-dark);
}

.input-group-text {
  background: 0;
  border: 0;
  gap: var(--spacing-small);
}

.input-group-text input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  background-color: green;
}

.input-group-text label {
  text-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .main-container {
    flex-direction: column-reverse;
  }
  .submit-button-container {
    display: flex;
    justify-content: center;
  }
  .main-container {
    margin: var(--spacing-medium) var(--spacing-medium);
  }
}

