.hero-wrapper {
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
}

.hero {
  margin: var(--spacing-large) var(--spacing-medium);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-large);
  text-align: center;
  max-width: 640px;
}

.hero p {
  color: #eaeaea80;
}

.hero img {
  width: 64px;
}

.announcement {
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: 12px;
}

.announcement img {
  width: 18px;
}

.announcement p {
  margin: 0;
  color: var(--text-dark);
}