:root {
  --text-primary: #101d42;
  --text-secondary: #fbb44c;
  --text-dark: #2b2922;
  --text-light: #eaeaea ;
  --text-white: #fff;

  --green-light: rgb(0, 135, 104);
  --green-dark: rgb(0, 125, 114);

  --bg-primary: #141e4c;
  --bg-secondary: #dfedf5;
  --bg-dark: #101d42;
  --bg-light: #fff;

  --fs-large: 1rem;
  --fs-medium: 0.875rem;
  --fs-small: 0.75rem;

  --spacing-xl: 2.625rem;
  --spacing-large: 1.75rem;
  --spacing-medium: 1rem;
  --spacing-small: 0.5rem;
  --spacing-tiny: 0.25rem;

  --page-max-width: 1278px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


/* general stuff */
ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

h1 {
  font-size: 3.5rem;
  color: var(--text-light);
}

h2 {
  font-size: 1.75rem;
  color: var(--text-primary);
}

h3 {
  font-size: 1.5rem;
  color: var(--text-secondary);
}

p {
  font-size: var(--fs-medium);
  color: var(--text-dark);
}

/* advanced classes */ 

.green-link {
  display: inline;
  color: var(--green-light);
}

.green-link:hover {
  color: var(--green-dark)
}

/* faded text */

.faded-text {
  color: rgba(25, 30, 48, 0.4);
  font-size: var(--fs-medium);
  font-weight: 700;
  text-transform: uppercase;
}

/* green button */

.button-green {
  background-color: var(--green-light);
  border: 0;
  color: var(--text-light);
  width: fit-content;
  font-size: var(--fs-large);
  padding: var(--spacing-medium);
  border-radius: 2.4rem;
  transition: .2s ease-in;
}

.button-green:hover,
.button-green:focus {
  color: var(--text-light);
  background-color: var(--green-dark);
  cursor: pointer;
}

/* blue button */

.button-blue {
  background-color: var(--bg-primary);
  border: 0;
  color: var(--text-light);
  width: fit-content;
  font-size: var(--fs-large);
  padding: var(--spacing-medium);
  border-radius: 2.4rem;
  transition: .2s ease-in;
}

.button-blue:hover,
.button-blue:focus {
  color: var(--text-light);
  background-color: var(--text-primary);
  cursor: pointer;
}

/* custom checkbox with label */

/* Customize the label (the container) */
.checkbox-wrapper {
  margin-left: var(--spacing-small);
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--bg-light);
}

/* On mouse-over, add a grey background color */
.checkbox-wrapper:hover input ~ .checkmark {
  background-color: #c7c7c7;
}

/* When the checkbox is checked, add a blue background */
.checkbox-wrapper input:checked ~ .checkmark {
  background-color: var(--green-light);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-wrapper input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-wrapper .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 

/* navigation bar */

nav {
  background-color: var(--bg-primary);
}

nav .nav-container{
  max-width: var(--page-max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-medium);
  /* height: var(--nav-height); */
}

nav img {
  width: auto;
  width: 160px;
}

.logo-link {
  padding: 0;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  position: relative;
}

nav a {
  font-size: var(--fs-small);
  text-transform: uppercase;
  color: var(--text-light);
  padding: var(--spacing-medium);
}

nav .arrow-down-icon {
  font-size: var(--fs-large);
  position: absolute;
}

nav a:hover {
    color: var(--text-secondary);
}

nav .submenu{
/* initial submeniul nu este afisat. afisarea sa se face la hover pe parinte */
  display:none;
  position:absolute;
  top: calc(100% - var(--spacing-small));
  left: var(--spacing-medium);

  width: 10rem;
  padding:var(--spacing-tiny) 0;

  background-color: var(--bg-dark);
  z-index: 3;
}

nav .submenu a {
  padding: var(--spacing-tiny) var(--spacing-small);
}

/* atentie la acest selector! display:block se aplica pe lementul cu clasa submenu< doar atunci cand parintele cu clasa about us are hover! */

nav .about-us:hover .submenu{
    display: block;
}

.hamburger-menu-container {
  display: none;
}

.dropdown-menu {
  background-color: var(--bg-dark);
  padding: var(--spacing-tiny) var(--spacing-small);
}

.dropdown-menu li a {
  
  color: var(--bg-light);
}

footer {
  background-color: var(--bg-dark);
}

footer p {
  font-size: var(--fs-small);
  text-align:center;
  color: var(--text-light);
  padding: var(--spacing-medium) 0;
}

@media (max-width: 768px) {
  .hamburger-menu-container {
    display: block;
  }
  .menu-icon-container {
    display: none;
  }
  .dropdown-menu a{
    font-size: 1.2rem;
  }
}






